body {
  color: white;
  background-color: #2c2c2c;
}
a { text-decoration: none; }
a:link { color: #ffffff; }
a:visited { color: #900060; }

body { display: flex; }
#container-right { width: 80%; }

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

td {
  vertical-align: baseline;
}

table {
    border-collapse: collapse;
}
td {
    border: 1px solid #ff0000;
}

td.hanzis {
  /* border-bottom: 1px solid aliceblue; */
}
